@tailwind base;
@tailwind components;
@tailwind utilities;

/* Two vertical gray lines */
body::before,
body::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: gray;
  opacity: 0.3;
  pointer-events: none;
  z-index: -1;
}

body::before {
  left: 22%;
}

body::after {
  right: 22%;
}

/* Responsive adjustment for mobile devices */
@media (max-width: 640px) {
  body::before {
    left: 2%;
  }
  body::after {
    right: 2%;
  }
}

/* In your App.css or a global CSS file */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  user-select: none; /* Disable text selection */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

.word {
  display: inline-block;
}