@tailwind base;
@tailwind components;
@tailwind utilities;

  /* For all browsers */
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }